@model OficinaMecanica.Models.POJO.Servico
@{
    ViewData["Title"] = "Editar Serviço";
}

<link rel="stylesheet" href="~/css/forms.css" />
<form action="" method="post">
    <h1>@ViewData["Title"]</h1>
    <div class="form-group">
        <input type="hidden" name="idServico" value="@Model.idServico">
        <label for="nome">Nome da Serviço</label>
        <input type="text" class="form-control" id="nomeServico" name="nomeServico" value="@Model.nomeServico" required>
        
        <label for="descricao">Descrição do Serviço</label>
        <input type="text" class="form-control" id="descricao" name="descricao" value="@Model.descricao" required>
        
        <label for="preco">Preço</label>
        <input type="text" class="form-control" id="preco" name="preco" value="@Model.preco" required>
    
        <label for="categoria">Categoria</label>
        <select id="categoria" name="categoria_idCategoria" class="form-control">
            @if (Model != null)
                {
                <option value="@Model.categoria_idCategoria"></option>
                    foreach (var item in ViewBag.Categorias)
                    {
                        <option value="@item.idCategoria">@item.nomeCategoria</option>
                    }
                }
        </select>
        <script>
            // Evento para atualizar o valor do campo "cargo" antes de enviar o formulário
            document.getElementById("cadastrobtn").addEventListener("click", function (event) {
                // Obtenha o valor selecionado do campo "cargo"
                var cargoSelect = document.getElementById("categoria");
                var selectedCargo = cargoSelect.options[cargoSelect.selectedIndex].value;

                // Atualize o valor do campo "cargo" com o valor selecionado
                document.getElementById("categoria").value = selectedCargo;
            });
        </script>
        <label for="dataAtual">Data do Cadastro</label>
        <input type="text" class="form-control" id="dataCadastro" name="dataCadastro" value="@Model.dataCadastro.ToString("dd/MM/yyyy")" readonly required>
        
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="status1">
        <input type="hidden" id="status" name="status" />
        <label class="form-check-label" for="status">Ativo</label>
    </div>
    <script>
        if (@Model.status == 0) {
            document.getElementById("status1").checked = true;
        } if (@Model.status == 1) {
            document.getElementById("status1").checked = false;
        }
        const selecionado = document.querySelector("#status1");

        selecionado.addEventListener("change", (el) => {
            if (selecionado.checked) {
                document.getElementById("status").value = 0;
            } else {
                document.getElementById("status").value = 1;
            }
        });

        selecionado.dispatchEvent(new Event("change"));
    </script>

    <div class="row " role="group">
        <div class="d-grid gap-2">
            <button type="submit" id="cadastrobtn" class="btn btn-success">Alterar</button>
            <a asp-action="Visualizacao" type="button" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</form>
